ping.wsdl

<?xml version='1.0' encoding='utf-8' ?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:s0="http://www.stellent.com/ping/"
	targetNamespace="http://www.stellent.com/ping/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.stellent.com/ping/">
			<s:element name="pingServer">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="extraProps" type="s0:IdcPropertyList" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="pingServerResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="pingServerResult" type="s0:pingServerResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="pingServerResult">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="StatusInfo" type="s0:StatusInfo" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="StatusInfo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="statusMessage" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="IdcPropertyList">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="property" type="s0:IdcProperty" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="IdcProperty">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</types>
	<message name="pingServerSoapIn">
		<part name="parameters" element="s0:pingServer" />
	</message>
	<message name="pingServerSoapOut">
		<part name="parameters" element="s0:pingServerResponse" />
	</message>
	<portType name="pingSoap">
		<operation name="pingServer">
			<input message="s0:pingServerSoapIn" />
			<output message="s0:pingServerSoapOut" />
		</operation>
	</portType>
	<binding name="pingSoap" type="s0:pingSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="pingServer">
			<soap:operation soapAction="http://www.stellent.com/ping/" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ping">
		<port name="pingSoap" binding="s0:pingSoap">
			<soap:address location="https://sena-demo.net:46201/_dav/cs/idcplg" />
		</port>
	</service>
</definitions>

