wsdl/candidateGateway.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://candidatehc.webservices.recruitmax.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://candidatehc.webservices.recruitmax.com" xmlns:intf="http://candidatehc.webservices.recruitmax.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://rpc.xml.coldfusion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by ColdFusion version 8,0,1,195765-->
 <wsdl:types>
  <schema targetNamespace="http://rpc.xml.coldfusion" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://candidatehc.webservices.recruitmax.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="CFCInvocationException">
    <sequence/>
   </complexType>
   <complexType name="QueryBean">
    <sequence>
     <element name="columnList" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="data" nillable="true" type="impl:ArrayOfArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://candidatehc.webservices.recruitmax.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://rpc.xml.coldfusion"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[][]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://candidatehc.webservices.recruitmax.com"/>
   <import namespace="http://rpc.xml.coldfusion"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkRequest">

      <wsdl:part name="Email" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="CFCInvocationException">

      <wsdl:part name="fault" type="tns1:CFCInvocationException"/>

   </wsdl:message>

   <wsdl:message name="saveRequest">

      <wsdl:part name="candidateJSON" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="checkResponse">

      <wsdl:part name="checkReturn" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:message name="saveResponse">

      <wsdl:part name="saveReturn" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:portType name="CandidateGateway">

      <wsdl:operation name="check" parameterOrder="Email">

         <wsdl:input message="impl:checkRequest" name="checkRequest"/>

         <wsdl:output message="impl:checkResponse" name="checkResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

      <wsdl:operation name="save" parameterOrder="candidateJSON">

         <wsdl:input message="impl:saveRequest" name="saveRequest"/>

         <wsdl:output message="impl:saveResponse" name="saveResponse"/>

         <wsdl:fault message="impl:CFCInvocationException" name="CFCInvocationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="candidateGateway.cfcSoapBinding" type="impl:CandidateGateway">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="check">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://candidatehc.webservices.recruitmax.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="checkResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://candidatehc.webservices.recruitmax.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException" namespace="http://candidatehc.webservices.recruitmax.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="save">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://candidatehc.webservices.recruitmax.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="saveResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://candidatehc.webservices.recruitmax.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="CFCInvocationException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="CFCInvocationException" namespace="http://candidatehc.webservices.recruitmax.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CandidateGatewayService">

      <wsdl:port binding="impl:candidateGateway.cfcSoapBinding" name="candidateGateway.cfc">

         <wsdlsoap:address location="http://rmdms/com/recruitmax/webservices/candidateHC/candidateGateway.cfc"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>










 













 




































































 









































































	






	






	



	
		
	

















		


	
	













 















	












