wsdl/Compliance_Check.wsdl

<?xml version='1.0' encoding='utf-8' ?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:s0="http://www.stellent.com/Compliance_Check/"
	targetNamespace="http://www.stellent.com/Compliance_Check/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.stellent.com/Compliance_Check/">
			<s:element name="ComplianceCheck">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="complianceRecordID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="doNotUpdate" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="extraProps" type="s0:IdcPropertyList" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="ComplianceCheckResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="ComplianceCheckResult" type="s0:ComplianceCheckResult" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ComplianceCheckResult">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="OAPhase1MissingFormIDs" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="OAPhase2MissingFormIDs" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="OAPhase3MissingFormIDs" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="phase1ApprovedDate" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="phase2ApprovedDate" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="phase3ApprovedDate" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="complianceApprovedDate" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="StatusInfo" type="s0:StatusInfo" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="StatusInfo">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="statusCode" type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="statusMessage" type="s:string" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="IdcPropertyList">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="property" type="s0:IdcProperty" />
				</s:sequence>
			</s:complexType>
			<s:complexType name="IdcProperty">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</types>
	<message name="ComplianceCheckSoapIn">
		<part name="parameters" element="s0:ComplianceCheck" />
	</message>
	<message name="ComplianceCheckSoapOut">
		<part name="parameters" element="s0:ComplianceCheckResponse" />
	</message>
	<portType name="Compliance_CheckSoap">
		<operation name="ComplianceCheck">
			<input message="s0:ComplianceCheckSoapIn" />
			<output message="s0:ComplianceCheckSoapOut" />
		</operation>
	</portType>
	<binding name="Compliance_CheckSoap" type="s0:Compliance_CheckSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="ComplianceCheck">
			<soap:operation soapAction="http://www.stellent.com/Compliance_Check/" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="Compliance_Check">
		<port name="Compliance_CheckSoap" binding="s0:Compliance_CheckSoap">
			<soap:address location="https://sena-demo.net:46201/_dav/cs/idcplg" />
		</port>
	</service>
</definitions>
